.login
    .main-raised
        margin 10% 30% 0
    .section
        margin 70px 20px
    .checkbox
        margin 20px 0 0 18px
        float left;

        &.checkbox-material
            padding-right: 13px
    .logo
        width 90%
        height auto
        display block
        margin 0 auto 20px
        padding-right 0