#profile-image
    size = 400px
    height size
    width size

.profile-image-group
    margin: 0 auto;
    width: 80%;

.avatar-circle
    size = 40px
    height size
    width size
    border 1px solid transparent
    border-radius 50%
    padding-right 5px