{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{{ form_start(form, {'action' : path('madlexx_target.organization.form_create'), 'attr': {'id' : 'madlexx_user_organization'}} ) }}
    <div class="col-md-12">
        {{ Content.input_icon(form.name, 'contacts') }}
        {{ Content.input_icon(form.phone, 'contact_phone') }}
        {{ Content.input_icon(form.email, 'contact_mail') }}
        {{ Content.input_icon(form.site, 'open_in_browser') }}
        {{ Content.select2(form.users, 'supervisor_account') }}
        {{ Content.select2(form.direction, 'directions') }}
        <div class="input-group">
            <span class="input-group-addon">
                    <i class="material-icons">lock</i>
            </span>
            <div class="checkbox pull-left">
                {{ form_widget(form.suspended) }}
            </div>
        </div>
        <div class="pull-right">
            {{ form_row(form.submit) }}
        </div>
    </div>
{{ form_end(form) }}