.custom-favorite {
    color: white !important;
}

.custom-favorite.active {
    color: #03a9f4 !important;
}

.custom-favorite.non-active {
    color: rgb(255, 181, 0) !important;
}

.documents .close {
    color: #03a9f4;
}

.pdf-query .modal-container-response {
    height: 600px;
    width: 250px;
    right: -280px;
    overflow-y: auto;
}

/*.modal-response .modal-container-response >div >p {*/
    /*max-height: 100%;*/
    /*overflow-y: initial;*/
/*}*/

.fixed-bottom {
    position: relative;
}

.fixed-bottom .chat-input {
    position: absolute;
    bottom: 0;
}

.chat-input textarea.form-control {
    width: 90%;
    float: right;
}

.chat-message {
    overflow-x: hidden;
}

.chat-message li .text-right {
    width: 100%;
}

ul.response-message {
    height: initial;
}

.modal-response .modal-container-response p {
    word-wrap: break-word;
}

.modal-response .modal-container-response >div >p {
    word-wrap: break-word;
    overflow-y: hidden;
    max-height: 100%;
}
.modal-response .modal-container-response >div.fixed-bottom {
    height: 77%;
    overflow-y: auto;
}

.documents dd.not-background:hover {
    background: inherit;
}

.label.label-primary {
    white-space: normal;
    word-break: normal;
    display: inline-block;
    line-height: inherit;
    text-align: left;
}


.modal-container-response >p {
    max-height: 80px;
    overflow-y: auto
}

.modal-container-response p {
    font-weight: 400
}

.modal-container-response h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 10px
}

.response-query-header h4.modal-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 10px
}

.response-query-header p.modal-description {
    font-weight: 400
}

.chat-message li .text-left {
    width: 100%;
}

.welcome h2 {
    font-family: inherit;
}