<div class="col-md-9">
    <div class="card">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#pending-queries">{{ 'madlexx_target.query.pending'|trans }}</a></li>
            <li><a data-toggle="tab" href="#queries">{{ 'madlexx_target.query.all'|trans }}</a></li>
            <li><a data-toggle="tab" href="#messages">{{ 'madlexx_fos_user.message.plural'|trans }}</a></li>
            <li><a data-toggle="tab" href="#quarter">{{ 'madlexx_target.quarter.title'|trans }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="pending-queries" class="tab-pane fade in active">
                <div class="content" id="waiting-query-vue">
                    <waiting-response :label.sync="label"
                                      :queries.sync="queries"
                                      :query.sync = "query"
                                      :response.sync = "response"
                                      :user.sync="user"
                                      :form.sync="form">
                    </waiting-response>
                </div>
            </div>
            <div id="queries" class="tab-pane fade">
                <div class="content" id="admin-query-vue">
                    <admin-queries :label.sync="label"
                                   :queries.sync="queries"
                                   :query.sync = "query"
                                   :response.sync = "response"
                                   :form.sync="form"
                                   :user.sync="user">
                    </admin-queries>
                </div>
            </div>
            <div id="messages" class="tab-pane fade">
                <div class="content" id="chat-vue-admin">
                    <chat-admin :chats.sync="chats" :messages.sync="messages" :message.sync="message" :user.sync="user" :show.sync="show"></chat-admin>
                </div>
            </div>
            <div id="quarter" class="tab-pane fade">
                <div id="admin-reports-vue" class="content">
                    <admin-reports :reports.sync="reports" :organizations.sync="organizations" :label.sync="label" :form.sync="form" :sorting.sync="sorting"></admin-reports>
                </div>
            </div>
        </div>

    </div>
</div>
