<div class="col-md-9">
    <div class="card">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#private-queries">{{ 'madlexx_target.query.plural'|trans }}</a></li>
            <li><a data-toggle="tab" href="#organization-queries">{{ 'madlexx_target.query.organization.pluralShort'|trans }}</a></li>
            <li><a data-toggle="tab" href="#shared-queries">{{ 'madlexx_target.query.shared'|trans }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="private-queries" class="tab-pane fade in active">
                <div id="private-query-vue" class="content">
                    <private-queries :label.sync="label" :queries.sync="queries" :user.sync="user"></private-queries>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SECONDARY_USER') %}
                        <modal :show.sync="show" :body.sync="form" :title="label.title" :user.sync="user" :button.sync="label.button"></modal>
                    {% endif %}
                </div>
            </div>
            <div id="organization-queries" class="tab-pane fade">
                <div id="organization-query-vue" class="content">
                    <organization-queries :label.sync="label" :queries.sync="queries" :user.sync="user"></organization-queries>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SECONDARY_USER') %}
                        <modal :show.sync="show" :body.sync="form" :title="label.title" :user.sync="user" :button.sync="label.button"></modal>
                    {% endif %}
                </div>
            </div>
            <div id="shared-queries" class="tab-pane fade">
                <div class="content" id="shared-query-vue">
                    <shared-queries :label.sync="label" :queries.sync="queries" :user.sync="user"></shared-queries>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SECONDARY_USER') %}
                        <modal :show.sync="show" :body.sync="form" :title="label.title" :user.sync="user" :button.sync="label.button"></modal>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>