.logo
    padding-right 90px
    img
        width 140px
.navbar
    padding $padding 0
    box-shadow none
    border-bottom 1px solid border-gray

.form-search
    margin ($padding / 6) 0 0 0
    padding 0 0 0 $padding
    width 300px

.icon-dropdown
    i
        &.material-icons
            font-size: 16px;
            padding-right: 10px;
.open .dropdown-menu
    left 0
.navbar-right .dropdown-menu
    left 0
