.select2-group
    w = 100%
    width w
    >div
        width w
    .select2-container
        margin 11px 0 0 0
.select2
    width 100%!important

.notifications
    position fixed
    right 10px
    top 10px
    width 350px
    z-index 9999
    p
        margin-right 20px

// Modal window
.modal-mask
    position fixed
    z-index 9998
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0, 0, 0, .75)
    display table
    transition opacity .3s ease

.modal-wrapper
    display table-cell
    vertical-align middle

.modal-container
    h = 500px
    w = 550px
    max-width w
    height h
    margin 0px auto
    padding 20px 30px
    border-radius 2px
    box-shadow 0 2px 8px rgba(0, 0, 0, .33)
    transition all .3s ease
    font-family Helvetica, Arial, sans-serif
    background #1e1e1e
    outline 3px dashed #4b4b4b
    outline-offset -20px


.modal-header h3
    margin-top 0
    color #42b983

.modal-body
    margin 20px 0
    text-align center
    padding 0
    width 100%
    height 92%
    svg
        height 80px
        width 80px
        margin-top 25%
    P
        color #444444
        font-weight 600
        font-size 16px
        margin-top 10%
        text-transform capitalize
    form
        width 100%
        height 100%
        z-index 9999
        //position: absolute;
.modal-default-button
    padding = 30px
    position absolute
    top padding
    right padding
    background transparent
    border none
    outline none
    font-size 40px
    color white

.modal-enter, .modal-leave
    opacity 0

.modal-enter .modal-container,
.modal-leave .modal-container
    -webkit-transform scale(1.1)
    transform scale(1.1)

.dz-details
    color #444444
    font-weight 600
    font-size 16px
    margin-top 10%
    text-transform capitalize
.dz-error-message
    color red
    font-weight 600
    font-size 16px
    text-transform capitalize
.dz-message
    position absolute
    z-index 10
    top 10%
    width 100%

.dz-error-mark, .dz-success-mark
    display none

.modal-response
    position relative
    .modal-container-response
        h = 500px
        w = 250px
        position absolute
        top -40px
        right - (w+30)
        width w
        height h
        margin 0px auto
        padding 20px 10px
        border-radius 2px
        box-shadow 0 2px 8px rgba(0, 0, 0, .33)
        transition all .3s ease
        font-family Helvetica, Arial, sans-serif
        background white
        >div
            position relative
            width 100%
            height 100%
            >p
                max-height 80px
                overflow-y auto
        p
            font-weight 400

        h2
            margin 0
            font-size 16px
            font-weight 600
            line-height 1.3
            padding-bottom 10px
        ul
            margin 0
            padding 0
            li
                list-style none
                line-height 2
            &.responses
                a
                    color oxford-blue
                    text-decoration none
                    display block
                    padding 2px 0
                    cursor pointer
                h3
                    font-size 16px
                    font-weight 600
                    text-overflow ellipsis
                    white-space nowrap
                    overflow hidden
                    line-height 1.3
                p
                    font-weight 400
                li
                    &:hover
                        a
                            color white
                        background main-color
                        margin 0 -10px 0
                        padding 0 10px
.pdf-query
    height 600px
    width 500px
    .modal-container-response
        height 600px
        width 250px
        right -280px

    #pdf
        font-weight 600
        font-size 24px
        height 520px
#pdf-view
    height 450px
.nav-tabs
    background blue