.dataTables_length
    float left
.dataTables_filter
    float right
.dataTables_info
    clear both
    float left
.paging_simple_numbers
    float right
    a
        text-decoration none
        border 0
        border-radius 30px !important
        transition: all .3s
        padding 0px 11px
        margin 0 3px
        min-width: 30px
        height 30px
        line-height 30px
        color #999999
        font-weight 400
        font-size 12px
        text-transform uppercase
        background transparent
        display inline-block
        outline none
        cursor pointer

        &.disabled
            &:hover
                background lightness(#9C27B0, 40%)
        &:hover
            background #9C27B0
            color white
    span
        a
            background #03A9F4
            color white