.navbar,.navbar.navbar-default
    color dusty-gray

.navbar
    .navbar-nav
        &>li
            &.active
                a
                    color affair
            &> a
                font-family font-family-nav
                font-weight 700
                font-size font-size-nav
.form-search
    font-size font-size-nav
    font-family font-family-nav

.pdf-icon
    background url("../img/pdf-icon.png")
    height: 64px;
    width: 64px;
    display: block;
    float left
    margin-right 10px

.documents
    padding-bottom 0
    margin-bottom 0
    a
        text-decoration none
    dt
        color oxford-blue
        font-size 16px
        font-weight 600
        padding 0 0 10px 7px
        margin-bottom 10px
        box-shadow 0 2px 2px -2px  rgba(0,0,0,0.14)

    dd
        p
            font-size 14px
            line-height 16px
            height 32px
            font-weight 400
            text-transform capitalize
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            color oxford-blue
            &:first-child
                padding-bottom 20px
            &:last-child, &:nth-child(2), &:nth-child(3)
                font-weight 300
                font-size 14px
        time
            font-weight 400
            text-transform uppercase
            color oxford-blue
            padding-right: 20px;
        b
            font-weight 400
            color oxford-blue

.head_bolt_16
    color oxford-blue
    text-transform capitalize
    font-size 16px
    font-weight 600
    padding 0 0 10px 7px
    margin-bottom 10px
    box-shadow 0 2px 2px -2px  rgba(0,0,0,0.14)
