{% block  _madlexx_user_profile_avatar_widget %}
    {% if data is not empty %}
        <img id="profile-image" src="{{ asset(data) }}">
        <input type="hidden" name="reservedAvatar" value="{{ data }}">
    {% else %}
        <img id="profile-image" src="//placeholdit.imgix.net/~text?txtsize=28&txt=Your+photo+is+here&w=400&h=400">
    {% endif %}
    <input type="file" {{ block('widget_attributes') }}/>
{% endblock _madlexx_user_profile_avatar_widget %}

{%- block checkbox_widget -%}
    <div class="checkbox">
        <label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> {{ label|trans }}
        </label>
    </div>
{%- endblock checkbox_widget -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <div class="input-group">
        <button class="btn btn-raised btn-primary" type="{{ type|default('button') }}" {{ block('button_attributes') }} >{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
    </div>
{%- endblock button_widget -%}
