{% for event in events %}
    <div class="event">
        <p class="time"> <small>{{ event.date|date('d/m/Y') }}<span>{{ event.date|date('g:m a') }}</span></small></p>
        <h3>
            {{ event.title }}
        </h3>
        <p class="event-description">{{ event.content }}</p>
    </div>

{% endfor %}