{% extends 'MadlexxTargetBundle::dashboard.html.twig' %}
{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{% block body %}
    {{ parent() }}

    {% set data %}
        <div id="dashboard-vue">
            <div class="col-md-3">
                <div class="card">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#reports-tab" aria-controls="reports-tab" role="tab" data-toggle="tab"><i class="material-icons ">assignment</i></a></li>
                            <li role="presentation"><a href="#favorites-tab" aria-controls="favorites-tab" role="tab" data-toggle="tab"><i class="material-icons ">grade</i></a></li>
                            <li role="presentation"><a href="#most-views-tab" aria-controls="most-views-tab" role="tab" data-toggle="tab"><i class="material-icons ">question_answer</i></a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="reports-tab">
                                <div id="reports-vue" class="content">
                                    <reports :reports.sync="reports" :label.sync="label" :form.sync="form" :sorting.sync="sorting">
                                    </reports>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="favorites-tab">
                                <div id="favorites-vue" class="content">
                                    <favorites :favorites.sync="favorites" :label.sync="label" :form.sync="form" :sorting.sync="sorting">
                                    </favorites>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="most-views-tab">
                                <div id="most-views-vue" class="content">
                                    <most-views :content.sync="content" :label.sync="label" :form.sync="form" :sorting.sync="sorting">
                                    </most-views>
                                </div>
                            </div>
                        </div>
                    {#</div>#}
                </div>
                <div class="card">
                    <div id="calendar"></div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="content" id="vue-event-add">
                            <modal :show.sync="show" :button="button" :body.sync="body" :title="title"></modal>
                        </div>
                    {% endif %}
                </div>
                <div class="card">
                    <div class="content" id="events-list"></div>
                </div>
                <div class="card">
                    <div id="documents-vue" class="content">
                        <documents :documents.sync="documents" :label.sync="label" :form.sync="form"></documents>
                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('MadlexxTargetBundle:Dashboard/parts:_admin_content.html.twig') }}
            {% else %}
                {{ include('MadlexxTargetBundle:Dashboard/parts:_user_content.html.twig') }}
            {% endif %}
            <notifications></notifications>
            <query-modal></query-modal>
        </div>
    {% endset %}
    {% set main = Content.section(data) %}
    {{ Content.main_wrap(main) }}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var URL = {
            documents: {
                all: "{{ path('madlexx_target.document.index') }}",
                create: "{{ path('madlexx_target.document.create') }}",
                remove: ("{{ path('madlexx_target.document.remove', {'id': 0}) }}").slice(0, -1)
            },
            reports: {
                all: "{{ path('madlexx_target.report.index') }}",
                quarter: "{{ path('madlexx_target.report.quarter') }}",
                setOrganizations: ("{{ path('madlexx_target.report.set_organizations', {'id': 0}) }}").slice(0, -1),
                create: "{{ path('madlexx_target.report.create') }}",
                remove: ("{{ path('madlexx_target.report.remove', {'id': 0}) }}").slice(0, -1)
            },
            favorites: {
                all: "{{ path('madlexx_target.favorite.index') }}",
                create: ("{{ path('madlexx_target.favorite.create', {'id': 0}) }}").slice(0, -1),
                is: ("{{ path('madlexx_target.favorite.is', {'id': 0}) }}").slice(0, -1),
                remove: ("{{ path('madlexx_target.favorite.remove', {'id': 0}) }}").slice(0, -1)
            },
            mostViews: {
                all: "{{ path('madlexx_target.most_views.index') }}",
                create: ("{{ path('madlexx_target.most_views.create', {'id': 0}) }}").slice(0, -1)
            },
            privateQuery: {
                all: "{{ path('madlexx_target.query.index_personal') }}",
                create: "{{ path('madlexx_target.query.create') }}"
            },
            organizationQuery: {
                all: "{{ path('madlexx_target.query.index_organization') }}",
            },
            sharedQuery: {
                all: "{{ path('madlexx_target.query.index_shared') }}",
            },
            adminQuery: {
                all: "{{ path('madlexx_target.query.index_all') }}",
                create: ("{{ path('madlexx_target.response.create', {'id': 0}) }}").slice(0, -1),
                not_responded: "{{ path('madlexx_target.query.not_responded') }}",
                send: "{{ path('madlexx_target.response.create_message') }}",
                upload: "{{ path('madlexx_target.response.upload') }}",
            },
            events: {
                events: "{{ path('madlexx_target.event.get_events') }}",
                days: "{{ path('madlexx_target.event.get_days') }}",
                form: "{{ path("madlexx_target.event.form") }}",
                create: "{{ path("madlexx_target.event.create") }}"
            }
        };
        var messages = {
            documents: {
                header: "{{ 'madlexx_target.documents.header'|trans }}",
                emptyPlaceholder: "{{ 'madlexx_target.documents.emptyPlaceholder'|trans }}"
            },
            reports: {
                header: "{{ 'madlexx_target.reports.header'|trans }}",
                emptyPlaceholder: "{{ 'madlexx_target.reports.emptyPlaceholder'|trans }}",
                table: {
                    date: "{{ 'madlexx_target.reports.table.date'|trans }}",
                    name: "{{ 'madlexx_target.reports.table.name'|trans }}",
                    availableOrganizations: "{{ 'madlexx_target.reports.table.availableOrganizations'|trans }}",
                    allow: "{{ 'madlexx_target.reports.table.allow'|trans }}",

                }
            },
            favorites: {
                header: "{{ 'madlexx_target.favorites.header'|trans }}",
                emptyPlaceholder: "{{ 'madlexx_target.favorites.emptyPlaceholder'|trans }}"
            },
            mostViews: {
                header: "{{ 'madlexx_target.mostViews.header'|trans }}",
                emptyPlaceholder: "{{ 'madlexx_target.mostViews.emptyPlaceholder'|trans }}"
            },
            label: {
                added: "{{ 'madlexx_target.js_labels.added'|trans }}",
                titleQuery: "{{ 'madlexx_target.page.title'|trans }}",
                title: "{{ 'madlexx_target.documents.upload'|trans }}",
                button: "{{ 'madlexx_target.documents.actions.upload'|trans }}",
                user: "{{ 'madlexx_target.query.submitted'|trans }}",
                query: "{{ 'madlexx_target.query.singular'|trans }}",
                response: "{{ 'madlexx_target.response.plural'|trans }}",
                organization: "{{ 'madlexx_target.organization.singular'|trans }}",
                forPublication: "{{ 'madlexx_target.query.forPublication'|trans }}",
                actions: "{{ 'madlexx_target.query.actions'|trans }}",
            },
            queries: {
                title: "{{ 'madlexx_target.query.create'|trans }}",
                header: "{{ 'madlexx_target.query.plural'|trans }}",
                emptyPlaceholder: "{{ 'madlexx_target.query.emptyPlaceholder'|trans }}",
                all: "{{ 'madlexx_target.query.all'|trans }}",
                headerOrganization: "{{ 'madlexx_target.query.organization.plural'|trans }}",
                create: "{{ 'madlexx_target.query.create'|trans }}",
                shared: "{{ 'madlexx_target.query.shared'|trans }}",
                pending: "{{ 'madlexx_target.query.pending'|trans }}",
                viewedByAdmin: "{{ 'madlexx_target.query.viewedByAdmin'|trans }}",
                view: "{{ 'madlexx_target.query.view'|trans }}",
            },
            response: {
                create: "{{ 'madlexx_target.response.actions.create'|trans }}"
            },
            events: {
                create: "{{ 'madlexx_target.event.actions.create'|trans }}",
                title: "{{ "madlexx_target.event.title"|trans }}"
            },
            quarter: {
                title: "{{ "madlexx_target."|trans }}",
            }
        };
    </script>
    <script src="{{ asset('bundles/madlexxtarget/scripts/dashboard.js') }}"></script>

{% endblock javascripts %}