{% extends "MadlexxTargetBundle::dashboard.html.twig" %}
{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{% block body %}
    {{ parent() }}
    {% set data %}
        {{ form_start(form, { 'action': path('fos_user_profile_edit') }) }}
        <div class="col-md-6">
            {{ Content.input_icon(form.username, 'perm_identity') }}
            {{ Content.input_icon(form.email, 'email') }}
            {{ Content.input_icon(form.current_password, 'lock') }}
            {{ form_widget(form.notification) }}
            {{ form_widget(form.submit) }}
        </div>
        <div class="col-md-6">
            <div class="profile-image-group">
            {{ form_widget(form.avatar) }}
            {{ form_widget(form.removeAvatar) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endset %}
    {% set main = Content.section(data) %}
    {{ Content.main_wrap(main) }}
{% endblock body %}

{% block javascripts %}
    <script>
        var modules = ['profileUpload'];
    </script>
{% endblock %}