{% extends "MadlexxTargetBundle::dashboard.html.twig" %}
{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{% block body %}
    {{ parent() }}
    {% set data %}
        <div class="col-md-6">
            <div>
                <p>{{ 'madlexx_fos_user.username'|trans }}: <b>{{ user.username }}</b></p>
            </div>
            <div>
                <p>{{ 'madlexx_fos_user.email'|trans }}: <b>{{ user.email }}</b></p>
            </div>
            <div>
                <p>{{ 'madlexx_fos_user.organization.label'|trans }}: <b>{{ user.organization ?? 'madlexx_fos_user.organization.not_applied'|trans }}</b></p>
            </div>
            <a class="btn btn-raised btn-primary" href="{{ path('fos_user_profile_edit') }}">{{ 'madlexx_fos_user.actions.edit.profile'|trans }}</a>
        </div>
        <div class="col-md-6">
            {% if user.avatar is not empty %}
                <img id="profile-image" src="{{ user.avatar }}">
            {% else %}
                <img id="profile-image" src="//placeholdit.imgix.net/~text?txtsize=28&txt=Your+photo+is+here&w=400&h=400">
            {% endif %}
        </div>
    {% endset %}
    {% set main = Content.section(data) %}
    {{ Content.main_wrap(main) }}
{% endblock body %}

{% block javascripts %}
    <script>
        var modules = ['profileUpload'];
    </script>
{% endblock %}