{% extends "MadlexxTargetBundle::dashboard.html.twig" %}
{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{% block body %}
    {{ parent() }}

    {% set data %}
        <dl class="documents">
        <dt>{{ "madlexx_target.search.query"|trans({'%needle%': needle}) }}</dt>
        {% if reports is not empty %}
            {{ Content.search_result(reports) }}
        {% endif %}
        {% if documents is not empty %}
            {{ Content.search_result(documents) }}
        {% endif %}
        {% if responses is not empty %}
            {{ Content.search_result(responses) }}
        {% endif %}
        </dl>
    {% endset %}
    {% set main = Content.section(data) %}
    {{ Content.main_wrap(main) }}
{% endblock body %}
