<script>
    var admin = "{{ is_granted('ROLE_ADMIN') }}";
    var icons = {
        message : "{{ asset('bundles/madlexxtarget/img/message-icon.png') }}"
    }
</script>
{% verbatim %}
<script id="vue-chat" type="text/x-template">
<button class="btn btn-simple mail-box" @click="toggleActive()">
							<i class="material-icons">email</i>
							<i class="count-icon">{{ count }}</i>
							</button>
<div class="modal fade" v-bind:class="{ 'in' : show }" v-show="show" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" @click="toggleActive()" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <ul class="chat-message">
                    <li v-for="item in messages" class="clearfix">
                        <div v-bind:class="{ 'text-left' : !isMessageOwner(item.user), 'text-right' : isMessageOwner(item.user) }">
                            <p v-if="!item.path">{{ item.content }}</p>
                            <p v-if="item.path">
                                <a href="/{{ item.path }}" target="_blank"><i class="pdf-icon"></i>{{ item.content }}</a>
                            </p>
                            <time>{{ item.createdAt}}</time>
                        </div>
                    </li>
                </ul>
            </div>
            {% endverbatim %} {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SECONDARY_USER') %}{% verbatim %}
            <div class="modal-footer">
                <div class="row chat-input">
                    <div class="col-sm-12">
	                    <div class="form-group label-floating">
	                    <span class="attach-upload">
	                        <input type="file" class="chat-upload" v-on:change="onChange($event)" accept="application/pdf">
                        </span>

	                	<input type="text" value=""  class="form-control" @keyup.enter="send($event)" placeholder="Type your message here..." />
	                    </div>
                    </div>
                </div>
            </div>
            {% endverbatim %} {% endif %} {% verbatim %}
        </div>
    </div>
</div>
<div class="clearfix"></div>
</div>
</script>
<script id="vue-chat-admin" type="text/x-template">
<table class="table table-striped table-bordered" id="chat-table">
        <thead>
            <tr>
                <th>User</th>
                <th>Number of messages</th>
                <th>Unread messages</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="chat in chats">
                <td>{{ chat.user }}</td>
                <td>{{ chat.count }}</td>
                <td>{{ chat.unread }}</td>
                <td class="text-right">
                     <button class="btn btn-raised btn-xs"  v-bind:class="{ 'btn-info': chat.unread > 0}"  @click="openChat(chat.id, chat)">
                            Open Chat
                     </button>
                </td>
            </tr>
        </tbody>
</table>
<div class="modal fade" v-bind:class="{ 'in' : show }" v-show="show" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" @click="toggleActive()" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <ul class="chat-message">
                    <li v-for="item in messages" class="clearfix">
                        <div v-bind:class="{ 'text-left' : !isMessageOwner(item.user), 'text-right' : isMessageOwner(item.user) }">
                            <p v-if="!item.path">{{ item.content }}</p>
                            <p v-if="item.path">
                                <a href="/{{ item.path }}" target="_blank"><i class="pdf-icon"></i>{{ item.content }}</a>
                            </p>
                            <time>{{ item.createdAt}}</time>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="row chat-input">
                    <div class="col-sm-12">
	                    <div class="form-group label-floating">
	                    <span class="attach-upload">
	                        <input type="file" class="chat-upload" v-on:change="onChange($event)" accept="application/pdf">
                        </span>

	                	<input type="text" value=""  class="form-control" @keyup.enter="send($event)" placeholder="Type your message here..." />
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
</script>
<script id="vue-table-organizations" type="text/x-template">
    <table class="table table-striped table-bordered" id="organizations">
        <thead>
            <tr>
                <th>{{ head.name }}</th>
                <th>{{ head.direction }}</th>
                <th>{{ head.email }}</th>
                <th>{{ head.phone }}</th>
                <th>{{ head.userCount }}</th>
                <th>{{ head.suspended }}</th>
                <th class="text-right">{{ head.actions }}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>{{ head.name }}</th>
                <th>{{ head.direction }}</th>
                <th>{{ head.email }}</th>
                <th>{{ head.phone }}</th>
                <th>{{ head.userCount }}</th>
                <th>{{ head.suspended }}</th>
                <th class="text-right">{{ head.actions }}</th>
            </tr>
        </tfoot>
        <tbody>
            <tr v-for="organization in organizations">
                <td>{{ organization.name }}</td>
                <th>{{ organization.direction.name }}</th>
                <td>{{ organization.email || '--' }}</td>
                <td>{{ organization.phone || '--' }}</td>
                <td>{{ organization.usersCount ? organization.usersCount : organization.users.length  }}</td>
                <td>{{ organization.suspended ? 'Yes' : 'No' }}</td>
                <td class="td-actions text-right">
                    <button type="button" rel="tooltip" @click="getEditForm(organization.id, $event, $index)" title="{{ actions.edit.tooltip }}"
                        class="btn btn-success btn-simple btn-xs">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" @click="remove(organization.id, $event, $index)" title="{{ actions.delete.tooltip }}"
                        class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script id="vue-table-directions" type="text/x-template">
    <table class="table table-striped table-bordered" id="directions">
        <thead>
            <tr>
                <th>{{ head.name }}</th>
                <th>{{ head.admin }}</th>
                <th>{{ head.userCount }}</th>
                <th class="text-right">{{ head.actions }}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>{{ head.name }}</th>
                <th>{{ head.admin }}</th>
                <th>{{ head.userCount }}</th>
                <th class="text-right">{{ head.actions }}</th>
            </tr>
        </tfoot>
        <tbody>
            <tr v-for="direction in directions">
                <td>{{ direction.name }}</td>
                <td>{{ direction.admin.username }}</td>
                <td>{{ direction.usersCount ? direction.usersCount : direction.users.length  }}</td>
                <td class="td-actions text-right">
                    <button type="button" rel="tooltip" @click="getEditForm(direction.id, $event, $index)" title="{{ actions.edit.tooltip }}"
                        class="btn btn-success btn-simple btn-xs">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" @click="remove(direction.id, $event, $index)" title="{{ actions.delete.tooltip }}"
                        class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script id="vue-table-users" type="text/x-template">
    <table class="table table-striped table-bordered" id="users">
        <thead>
            <tr>
                <th>{{ head.name }}</th>
                <th>{{ head.email }}</th>
                <th>{{ head.phone }}</th>
                <th>{{ head.organization }}</th>
                <th>{{ head.joined }}</th>
                <th class="text-right">{{ head.actions }}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>{{ head.name }}</th>
                <th>{{ head.email }}</th>
                <th>{{ head.phone }}</th>
                <th>{{ head.organization }}</th>
                <th>{{ head.joined }}</th>
                <th class="text-right">{{ head.actions }}</th>
            </tr>
        </tfoot>
        <tr v-for="user in users">
                <td>{{ user.username }}</td>
                <td>{{ user.email || '--' }}</td>
                <td>{{ user.phone || '--' }}</td>
                <td>{{ user.organization || '--' }}</td>
                <td>{{ user.joined }}</td>
                <td class="td-actions text-right">
                    <button type="button" rel="tooltip" @click="getEditForm(user.id, $event, $index)" title="{{ actions.edit.tooltip }}"
                        class="btn btn-success btn-simple btn-xs">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" @click="remove(user.id, $event, $index)" title="{{ actions.delete.tooltip }}"
                        class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
    </table>
</script>
<script id="vue-table-faqs" type="text/x-template">
    <table class="table" id="faqs">
        <thead>
            <tr>
                <th>{{ head.question }}</th>
                <th>{{ head.position }}</th>
                <th>{{ head.enabled }}</th>
                <th>{{ head.updated }}</th>
                <th class="text-right">{{ head.actions }}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>{{ head.question }}</th>
                <th>{{ head.position }}</th>
                <th>{{ head.enabled }}</th>
                <th>{{ head.updated }}</th>
                <th class="text-right">{{ head.actions }}</th>
            </tr>
        </tfoot>
        <tbody>
            <tr v-for="faq in faqs">
                <td>{{ faq.question }}</td>
                <td>{{ faq.position }}</td>
                <td><span class="label label-{{ faq.enabled ? 'info' : 'default' }}">{{ faq.enabled ? 'Yes' : 'No' }}</span></td>
                <td>{{ faq.updatedAt}}</td>
                <td class="td-actions text-right">
                    <button type="button" rel="tooltip" @click="goToEdit(faq.id)" title="{{ actions.edit.tooltip }}"
                        class="btn btn-success btn-simple btn-xs">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" @click="remove(faq.id, $event, $index)" title="{{ actions.delete.tooltip }}"
                        class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        </tbody>
</script>
<script id="vue-modal" type="text/x-template">
<div class="pull-right">
    <button class="btn btn-raised btn-info btn-raised" @click="toggleActive()" v-if="button">{{ button }}</button>
</div>
<div class="modal fade" v-bind:class="{ 'in' : show }" v-show="show" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" @click="toggleActive()" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                {{{ body }}}
            </div>
            <div class="modal-footer">
                {{{ footer }}}
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
</script>
<script id="vue-black-modal" type="x/template">
    <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-wrapper">
            <div class="modal-container">

                <div class="modal-body">
                    <slot name="body">
                    {{{ body }}}
                    </slot>
                </div>

                <button class="modal-default-button"
                @click="show = false">
                &times;
                </button>
            </div>
        </div>
  </div>
</script>
<script id="vue-response-modal" type="x/template">
    <div class="modal fade" v-bind:class="{ 'in' : show }" v-show="show" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header response-query-header">
                    <button type="button" class="close" @click="close()" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ query.name }}</h4>
                    <p class="modal-description">{{ query.content }}</p>
                </div>
                <div class="modal-body modal-container-response" v-if="query">
                    <ul class="chat-message">
                        <li v-for="item in query.responses" class="clearfix">
                            <div v-bind:class="{ 'text-left' : !isMessageOwner(item.user), 'text-right' : isMessageOwner(item.user) }">
                                <p v-if="!item.path">{{ item.content }}</p>
                                <p v-if="item.path">
                                    <a href="/{{ item.path }}" target="_blank"><i class="pdf-icon"></i>{{ item.content }}</a>
                                </p>
                                <time>{{ item.createdAt}}</time>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <div class="row chat-input">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                            <span class="attach-upload">
                                <input type="file" class="chat-upload" v-on:change="onChange(query.id, $event)" accept="application/pdf">
                            </span>

                            <input type="text" value=""  class="form-control" @keyup.enter="send(query.id, $event)" placeholder="Type your message here..." />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="vue-query-modal" type="x/template">
    <div class="modal fade" v-bind:class="{ 'in' : show }" v-show="show" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header response-query-header">
                <button type="button" class="close" @click="close()" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ query.name }}</h4>
                <p class="modal-description">{{ query.content }}</p>
            </div>
            <div class="modal-body modal-container-response" v-if="query">
                <ul class="chat-message">
                    <li v-for="item in query.responses" class="clearfix">
                        <div v-bind:class="{ 'text-left' : !isMessageOwner(item.user), 'text-right' : isMessageOwner(item.user) }">
                            <p v-if="!item.path">{{ item.content }}</p>
                            <p v-if="item.path">
                                <a href="/{{ item.path }}" target="_blank"><i class="pdf-icon"></i>{{ item.content }}</a>
                            </p>
                            <time>{{ item.createdAt}}</time>
                        </div>
                    </li>
                </ul>
            </div>
            {% endverbatim %} {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SECONDARY_USER') %}{% verbatim %}
            <div class="modal-footer">
                <div class="row chat-input">
                    <div class="col-sm-12">
	                    <div class="form-group label-floating">
	                    <span class="attach-upload">
	                        <input type="file" class="chat-upload" v-on:change="onChange(query.id, $event)" accept="application/pdf">
                        </span>

	                	<input type="text" value=""  class="form-control" @keyup.enter="send(query.id, $event)" placeholder="Type your message here..." />
	                    </div>
                    </div>
                </div>
            </div>
            {% endverbatim %} {% endif %} {% verbatim %}
        </div>
    </div>
</div>
</script>
<script id="vue-private-queries" type="text/x-template">
    <table id="private-queries-table" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>{{ label.name}}</th>
                <th>{{ label.added }}</th>
                <th>{{ label.forPublication }}</th>
                <th>{{ label.viewedByAdmin }}</th>
                <th>{{ label.response.singular}}</th>
                <th>{{ label.view }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="query in queries">
                <td>{{ query.name }}</td>
                <td>{{ query.added }}</td>
                <td><span>{{ query.forPublication ? 'Yes' : 'No' }}</span></td>
                <td><span>{{ query.viewed ? 'Yes' : 'No' }}</span></td>
                <td><span><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAABGdBTUEAALGPC/xhBQAAAHxJREFUGBljdPFL9v77/68XA+N/FgZ0wMj4k4mJaTkTTgUgDf//s//9+8+NCasJyCYyMrIyIfNxsYEmMf7EJQkSZ/rP8APoLqbljAyMzxkZmV6DMFDTG6imvwwMjE8YGRnWYTXEISAhwckvMRMmidVNvH/ZVjEyM16AKQIAWocg8x0jF00AAAAASUVORK5CYII=">  {{ query.response}}</span></td>
                <td>
                    <button class="btn btn-raised btn-xs"  @click="modal(query, $event, $index)">
                        {{ label.view }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script id="vue-organization-queries" type="text/x-template">
    <table id="organization-queries-table" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>{{ label.name }}</th>
                <th>{{ label.added }}</th>
                <th>{{ label.forPublication }}</th>
                <th>{{ label.viewedByAdmin }}</th>
                <th>{{ label.response.singular}}</th>
                <th>{{ label.view }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="query in queries">
                <td>{{ query.name }}</td>
                <td>{{ query.added }}</td>
                <td><span>{{ query.forPublication ? 'Yes' : 'No' }}</span></td>
                <td><span>{{ query.viewed ? 'Yes' : 'No' }}</span></td>
                <td><span><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAABGdBTUEAALGPC/xhBQAAAHxJREFUGBljdPFL9v77/68XA+N/FgZ0wMj4k4mJaTkTTgUgDf//s//9+8+NCasJyCYyMrIyIfNxsYEmMf7EJQkSZ/rP8APoLqbljAyMzxkZmV6DMFDTG6imvwwMjE8YGRnWYTXEISAhwckvMRMmidVNvH/ZVjEyM16AKQIAWocg8x0jF00AAAAASUVORK5CYII=">  {{ query.response}}</span></td>
                <td>
                    <button class="btn btn-raised btn-xs"  @click="modal(query, $event, $index)">
                        {{ label.view }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script id="vue-shared-queries" type="text/x-template">
    <table id="shared-queries-table" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>{{ label.name }}</th>
                <th>{{ label.added }}</th>
                <th>{{ label.forPublication }}</th>
                <th>{{ label.viewedByAdmin }}</th>
                <th>{{ label.response.singular}}</th>
                <th>{{ label.view }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="query in queries">
                <td>{{ query.name }}</td>
                <td>{{ query.added }}</td>
                <td><span>{{ query.forPublication ? 'Yes' : 'No' }}</span></td>
                <td><span>{{ query.viewed ? 'Yes' : 'No' }}</span></td>
                <td><span><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAABGdBTUEAALGPC/xhBQAAAHxJREFUGBljdPFL9v77/68XA+N/FgZ0wMj4k4mJaTkTTgUgDf//s//9+8+NCasJyCYyMrIyIfNxsYEmMf7EJQkSZ/rP8APoLqbljAyMzxkZmV6DMFDTG6imvwwMjE8YGRnWYTXEISAhwckvMRMmidVNvH/ZVjEyM16AKQIAWocg8x0jF00AAAAASUVORK5CYII=">  {{ query.response}}</span></td>
                <td>
                    <button class="btn btn-raised btn-xs"  @click="modal(query, $event, $index)">
                        {{ label.view }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script id="vue-waiting-response" type="text/x-template">
    <table id="queries-table" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>{{ label.organization}}</th>
                <th>{{ label.added }}</th>
                <th>{{ label.query }}</th>
                <th>{{ label.submitted}}</th>
                <th>{{ label.forPublication }}</th>
                <th>{{ label.response.singular }}</th>
                <th>{{ label.actions}}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="query in queries">
                <td>{{ query.organization }}</td>
                <td>{{ query.added }}</td>
                <td><span v-bind:class="{ 'label label-primary': query.confidential == true }">{{ query.name }}</span></td>
                <td>{{ query.userName }}</td>
                <td><span>{{ query.forPublication ? 'Yes' : 'No' }}</span></td>
                <td>{{ query.response }}</td>
                <td>
                    <button class="btn btn-raised btn-xs"  v-bind:class="{ 'btn-info': !query.response}"  @click="create(query.id, $event)">
                        {{ label.response.create }}
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <response-modal :show.sync="show"
                 :label="label.drop"
                 :body.sync="form"
                 :query.sync="query"
                 :response.sync="query.responses"
                 :reference.sync="reference"
                 :user.sync="user">
    </response-modal>
</script>
<script id="vue-admin-queries" type="text/x-template">
        <table id="queries-table" class="table table-striped table-bordered" >
            <thead>
                <tr>
                    <th>{{ label.organization}}</th>
                    <th>{{ label.added }}</th>
                    <th>{{ label.query }}</th>
                    <th>{{ label.submitted}}</th>
                    <th>{{ label.forPublication }}</th>
                    <th>{{ label.response.singular }}</th>
                    <th>{{ label.actions}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="query in queries">
                    <td>{{ query.organization }}</td>
                    <td>{{ query.added }}</td>
                    <td><span v-bind:class="{ 'label label-primary': query.confidential == true }">{{ query.name }}</span></td>
                    <td>{{ query.userName }}</td>
                    <td><span>{{ query.forPublication ? 'Yes' : 'No' }}</span></td>
                    <td>{{ query.response }}</td>
                    <td>
                        <button class="btn btn-raised btn-xs"  v-bind:class="{ 'btn-info': !query.response}"  @click="create(query.id)">
                            {{ label.response.create }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <response-modal
                     :user.sync="user"
                     :show.sync="show"
                     :label="label.drop"
                     :body.sync="form"
                     :query.sync="query"
                     :reference.sync="reference"
                     :response.sync="response"
                     >
        </response-modal>
</script>
<script id="vue-documents" type="text/x-template">
    <dl class="documents">
        <dt>{{ label.header }}</dt>
        <dd v-for="document in documents">
        {% endverbatim %}
            {% if is_granted('ROLE_ADMIN') %}
                {% verbatim %}
            <button class="close custom-close" @click="remove(document.id)" ><i class="material-icons">delete_forever</i></button>
            <button
                class="close custom-favorite"
                v-isfavorite="document.file_id"
                style="right: 20px;"
                @click="setFavorite(document.file_id, $event)"
                id="document-favs-{{document.file_id}}"
            >
                <i class="material-icons">grade</i>
            </button>
        {% endverbatim %}
            {% else %}
                {% verbatim %}
            <button
                class="close custom-favorite"
                v-isfavorite="document.file_id"
                @click="setFavorite(document.file_id, $event)"
                id="document-favs-{{document.file_id}}"
            >
                <i class="material-icons">grade</i>
            </button>
        {% endverbatim %}
            {% endif %}
        {% verbatim %}
            <a href="/{{ document.path }}" target="_blank">
                <i class="pdf-icon"></i>
                <p>{{document.name | truncate 15 }}</p>
                <p>{{ label.added }} : <time>{{document.added}}</time></p>
            </a>
        </dd>
        <dd v-if="documents == 0"><span>{{ label.emptyPlaceholder }}</span></dd>
    </dl>
{% endverbatim %}
    {% if is_granted('ROLE_ADMIN') %}
{% verbatim %}
    <div class="pull-right">
        <button class="btn btn-raised btn-info btn-raised"  @click="show = true" >{{ label.button }}</button>
    </div>
    <black-modal :show.sync="show" :label="label.drop" :body.sync="form"></black-modal>
{% endverbatim %}
    {% endif %}
{% verbatim %}
</script>
<script id="vue-favorites" type="text/x-template">
    <dl class="documents" style="margin-top:10px;">
        <dt @click="changeSorting()">{{ label.header }}<i class="fa fa-fw" v-bind:class="{'fa-sort-desc': isDesc(), 'fa-sort-asc': !isDesc() }"></i></dt>
        <div class="scroll-zone">
            <dd v-for="favorite in favorites">
                <span id="favorite-item-{{favorite.file.id}}">
                    <button class="close custom-favorite active" @click="remove(favorite.file.id)"><i class="material-icons">grade</i></button>
                    <a href="/{{ favorite.file.path }}" @click="showPdf(favorite.file, $event)" target="_blank">
                        <i class="pdf-icon"></i>
                        <p>{{favorite.file.name | truncate 15 }}</p>

                        <p>{{ label.added }} : <time>{{favorite.file.added}}</time></p>
                    </a>
                </span>
            </dd>
            <dd v-if="favorites.length == 0"><p>{{ label.emptyPlaceholder }}</p></dd>
        </div>
    </dl>
</script>
<script id="vue-most-views" type="text/x-template">
    <dl class="documents" style="margin-top:10px;">
        <dt @click="changeSorting()">{{ label.header }}<i class="fa fa-fw" v-bind:class="{'fa-sort-desc': isDesc(), 'fa-sort-asc': !isDesc() }"></i></dt>
        <div class="scroll-zone">
            <dd v-for="item in content">
                <span id="most-views-item-{{item.file.id}}">
                    <a href="/{{ item.file.path }}" @click="showPdf(item.file, $event)" target="_blank">
                        <i class="pdf-icon"></i>
                        <p>{{item.file.name | truncate 15 }}</p>

                        <p>{{ label.added }} : <time>{{item.file.added}}</time></p>
                    </a>
                </span>
            </dd>
            <dd v-if="content.length == 0"><p>{{ label.emptyPlaceholder }}</p></dd>
        </div>
    </dl>
</script>
<script id="vue-reports" type="text/x-template">
    <dl class="documents" style="margin-top:10px;">
        <dt @click="changeSorting()">{{ label.header }}<i class="fa fa-fw" v-bind:class="{'fa-sort-desc': isDesc(), 'fa-sort-asc': !isDesc() }"></i></dt>
        <div class="scroll-zone">
        <dd v-for="report in reports">
        {% endverbatim %}
            {% if is_granted('ROLE_ADMIN') %}
        {% verbatim %}
            <button class="close custom-close" @click="remove(report.id)" ><i class="material-icons">delete_forever</i></button>
            <button
                class="close custom-favorite"
                v-isfavorite="report.file_id"
                style="right: 20px;"
                @click="setFavorite(report.file_id, $event)"
                id="report-favs-{{report.file_id}}"
            >
                <i class="material-icons">grade</i>
            </button>
        {% endverbatim %}
            {% else %}
        {% verbatim %}
            <button
                class="close custom-favorite"
                v-isfavorite="report.file_id"
                @click="setFavorite(report.file_id, $event)"
                id="report-favs-{{report.file_id}}"
            >
                <i class="material-icons">grade</i>
            </button>
        {% endverbatim %}
            {% endif %}
        {% verbatim %}
            <a href="/{{ report.path }}" title="{{report.name}}" target="_blank">
                <i class="pdf-icon"></i>
                <p>{{report.name | truncate 15 }}</p>

                <p>{{ label.added }} : <time>{{report.added}}</time></p>
            </a>
        </dd>
        <dd v-if="reports.length == 0"><p>{{ label.emptyPlaceholder }}</p></dd>
        </div>
    </dl>

</script>

<script id="vue-admin-reports" type="text/x-template">
    <table id="admin-reports-table" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>{{ label.table.date}}</th>
                <th>{{ label.table.name }}</th>
                <th>{{ label.table.availableOrganizations }}</th>
                <th>{{ label.table.allow }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="report in reports" data-id="{{ report.report.id }}">
                <td>{{ report.report.added }}</td>
                <td>{{ report.report.name }}</td>
                <td>{{{ report.form }}}</td>
                <td>{{ report.report.organizations.length == organizations ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="pull-right">
        <button class="btn btn-raised btn-info btn-raised"  @click="show = true" >{{ label.button }}</button>
    </div>
    <black-modal :show.sync="show" :label="label.drop" :body.sync="form"></black-modal>
</script>

<script id="notification" type="text/x-template">
<div class="notification alert alert-{{ notification.type ? notification.type : 'success' }} animated">
    <div class="container-fluid">
	  <div class="alert-icon" v-if="notification.icon">
		<i class="material-icons">{{ notification.icon }}</i>
	  </div>
	  <button type="button" class="close" @click="triggerClose(notification)" aria-label="Close">
		<span aria-hidden="true"><i class="material-icons">clear</i></span>
	  </button>
	  <b  v-if="notification.title">{{notification.title}}:</b>  {{notification.text}}
    </div>
</div>
</script>
<script id="notifications" type="text/x-template">
  <div class="notifications">
    <notification v-for="notification in notifications" :notification="notification" @close-notification="removeNotification">
    </notification>
  </div>
</script>
{% endverbatim %}
