{% extends "MadlexxTargetBundle::dashboard.html.twig" %}
{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{% block stylesheets%}
    {{ parent() }}
    <link  rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"/>
{% endblock %}
{% block body %}
    {{ parent() }}

    {% set data %}
        <div id="directions-vue">
            <modal :show.sync="show" :button="button" :body="body" :title="actions.create.title"></modal>
            <modal :show.sync="showEditForm" :body="editForm" :title="actions.edit.title"></modal>
            <table-directions :directions.sync="directions" :head="head" :actions="actions"></table-directions>
            <notifications></notifications>
        </div>
    {% endset %}
    {% set main = Content.section(data) %}
    {{ Content.main_wrap(main) }}
{% endblock body %}

{% block javascripts %}
    <script>
        var pageData = {{ directions|raw }},
                actions = {
                    edit: {
                        title: "{{ 'madlexx_fos_user.direction.actions.edit'|trans }}",
                        tooltip: "{{ 'madlexx_fos_user.direction.actions.edit'|trans }}",
                    },
                    delete: {
                        title: "{{ 'madlexx_fos_user.direction.actions.remove'|trans }}",
                        tooltip: "{{ 'madlexx_fos_user.direction.actions.remove'|trans }}"
                    },
                    create: {
                        title: "{{ 'madlexx_fos_user.direction.actions.create'|trans }}"
                    }
                },
                button = "{{ 'madlexx_fos_user.direction.actions.add'|trans }}",
                URL = {
                    form: "{{ path("madlexx_target.direction.form") }}",
                    create: "{{ path("madlexx_target.direction.form_create") }}",
                    edit: ("{{ path("madlexx_target.direction.edit.form_render", {'id': 0}) }}").slice(0, -1),
                    delete: ("{{ path("madlexx_target.direction.delete", {'id': 0}) }}").slice(0, -1)
                },
                messages = {
                    error: "{{ 'madlexx_fos_user.labels.error'|trans }}",
                    success: "{{ 'madlexx_fos_user.labels.success'|trans }}",
                    last_direction: "{{ 'madlexx_fos_user.errors.last.direction'|trans }}"
                };
    </script>
    <script src="{{ asset("bundles/madlexxtarget/scripts/directions.js") }}"></script>
{% endblock %}