{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{{ form_start(form, {'action' : path('madlexx_target.direction.update', {'id': id}), 'attr': {'id' : 'madlexx_user_direction_update'}} ) }}
    <div class="col-md-12">
        {{ Content.input_icon(form.name, 'contacts') }}
        {{ Content.select2(form.admin, 'record_voice_over') }}
        {{ Content.select2(form.users, 'supervisor_account') }}
        <div class="pull-right">
            {{ form_row(form.submit) }}
        </div>
    </div>
{{ form_end(form) }}