{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% set contactActionNoticeError = app.session.flashbag.get("organizationWasSuspended") %}
    {% for flashMessage in contactActionNoticeError %}
        <div class="alert alert-danger">
            <div class="container-fluid">
                <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}
    {% if error %}
        <div class="alert alert-danger">
            <div class="container-fluid">
                <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <div class="col-sm-12">
            <div class="input-group">
		        <span class="input-group-addon">
		        	<i class="material-icons">perm_identity</i>
		        </span>
                <input type="text" id="username" name="_username" value="{{ last_username }}"
                       placeholder="{{ 'security.login.username'|trans }}" class="form-control"/>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-group">
		        <span class="input-group-addon">
		        	<i class="material-icons">lock</i>
		        </span>
                <input type="password" id="password" name="_password"
                       placeholder="{{ 'security.login.password'|trans }}" class="form-control"/>
            </div>
        </div>
        <div class="col-sm-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </label>
        </div>
        <div class="col-sm-12">
            <a class="pull-left btn btn-raised" href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.submit'|trans }}</a>

            <input class="pull-right btn btn-raised btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
        </div>
        </div>
    </form>
{% endblock fos_user_content %}
