{% extends "MadlexxTargetBundle::dashboard.html.twig" %}
{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{% block body %}
    {{ parent() }}

    {% set data %}
        {% if message is not empty %}
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <strong>Success!</strong> {{ message }}
                </div>
            </div>
        {% endif %}
        {{ form_start(form) }}
        <div class="col-md-12">
            {{ Content.input(form.title) }}
            {{ Content.textarea(form.content) }}
            <div class="pull-right">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}

    {% endset %}
    {% set main = Content.section(data) %}
    {{ Content.main_wrap(main) }}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#page_content',
            plugins: 'advlist autolink link image lists charmap code',
            toolbar: "undo redo | styleselect | bold italic | link image | alignleft aligncenter alignright | code",
            menubar: false
        });
    </script>
{% endblock javascripts %}