{% set currentRoute = app.request.attributes.get('_route') %}
{% set mainRoute = 'madlexx_target.main' %}
{% set faqRouteShow = 'madlexx_target.faq.show' %}
{% set faqRouteIndex = 'madlexx_target.faq.index' %}
<nav class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="{{ path(mainRoute) }}">
                <div class="logo">
                    <img src="{{ asset('bundles/madlexxtarget/img/logo.png') }}" alt="Creative Tim Logo">
                </div>
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left ">

                <li {% if currentRoute == mainRoute %}class="active"{% endif %}>
                    <a href="{{ path(mainRoute) }}">{{ 'madlexx_target.reports.dashboard'|trans }}</a>
                </li>
                <li {% if currentRoute == faqRouteShow or currentRoute == faqRouteIndex %}class="active"{% endif %}>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% set faqRouteShow = faqRouteIndex %}
                    {% endif %}
                    <a href="{{ path(faqRouteShow) }}">{{ 'madlexx_target.nav.about.label'|trans }}</a>
                </li>
                <li>
                    <form class="form-group form-search" action="{{ path('madlexx_target.search.search') }}" method="POST">
                        <input type="search" name="search" placeholder="Search" class="form-control"
                               pattern=".{3,}"   required title="3 characters minimum">
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_SECONDARY_USER') %}
                <li id="chat-vue">
                        <chat :messages.sync="messages" :message.sync="message" :count.sync="count" :user.sync="user"></chat>
                </li>
                {% endif %}
                <li>
                    {{ include('MadlexxTargetBundle:parts/navigation:_user.html.twig') }}
                </li>
            </ul>

        </div>
    </div>
</nav>
