<div class="col-md-3 dropdown">
    <a href="#" class="btn btn-simple dropdown-toggle" data-toggle="dropdown">
        <img class="avatar-circle" src="{{ app.user.avatar is not empty ? app.user.avatar : asset('bundles/madlexxtarget/img/avatar.jpeg') }}" alt="{{ app.user.usernameCanonical }}">
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu icon-dropdown">
        <li><a href="{{ path('fos_user_profile_show') }}"><i class="material-icons">account_circle</i>{{ app.user.usernameCanonical }}</a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}"><i class="material-icons">edit</i>{{ 'madlexx_fos_user.actions.edit.profile'|trans }}</a></li>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
            <li><a href="{{ path('madlexx_target.users') }}"><i class="material-icons">group</i>{{ 'madlexx_fos_user.users.actions.list'|trans }}</a></li>
        {% endif %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li><a href="{{ path('madlexx_target.direction') }}"><i class="material-icons">directions</i>{{ 'madlexx_fos_user.direction.actions.list'|trans }}</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('madlexx_target.organization') }}"><i class="material-icons">list</i>{{ 'madlexx_fos_user.organization.actions.list'|trans }}</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons">exit_to_app</i>{{ 'madlexx_fos_user.actions.logout'|trans }}</a></li>
    </ul>
</div>
