{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{{ form_start(form) }}
    {{ Content.input(form.name) }}
    {{ Content.textarea(form.content) }}
    <div class="checkbox pull-left">
        {{ form_widget(form.forPublication) }}
    </div>
    <div class="clearfix"></div>
    <div class="checkbox pull-left">
        {{ form_widget(form.confidential) }}
    </div>
    <div class="pull-right">
        {{ form_widget(form.submit) }}
    </div>
{{ form_end(form) }}
