{{ form_start(form) }}
<div class="col-md-12">
    {{ Content.input(form.question) }}
    {{ form_widget(form.enabled) }}
    {{ Content.number(form.position) }}
    {{ Content.textarea(form.answer) }}
    <div class="pull-right">
        {{ form_row(form.submit) }}
    </div>
</div>
{{ form_end(form) }}
