{% extends "MadlexxTargetBundle::dashboard.html.twig" %}
{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{% block body %}
    {{ parent() }}

    {% set data %}
        {{ include('MadlexxTargetBundle:Faq:_form.html.twig') }}
    {% endset %}
    {% set main = Content.section(data) %}
    {{ Content.main_wrap(main) }}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#faq_form_answer',
            plugins : 'advlist autolink link image lists charmap',
            menubar: false
        });
    </script>
{% endblock javascripts %}