{% extends 'MadlexxTargetBundle::dashboard.html.twig' %}
{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{% block body %}
    {{ parent() }}
    {% set data %}
    <div id="faqs-vue">
        <div class="pull-right">
            <a href="{{ path('madlexx_target.page.edit') }}" class="btn btn-raised btn-default btn-raised">
                {{ 'madlexx_target.page.label'|trans }}
            </a>
            <a href="{{ path('madlexx_target.faq.show') }}" class="btn btn-raised btn-default btn-raised">
                {{ 'madlexx_target.faq.actions.show'|trans }}
            </a>
            <a href="{{ path('madlexx_target.faq.create') }}" class="btn btn-raised btn-info btn-raised">
                {{ 'madlexx_target.faq.actions.add'|trans }}
            </a>
        </div>
        <div class="clearfix"></div>
        <table-faqs :faqs.sync="faqs" :head="head" :actions="actions"></table-faqs>
        <notifications></notifications>
    </div>
    {% endset %}
    {% set main = Content.section(data) %}
    {{ Content.main_wrap(main) }}
{% endblock body %}

{% block javascripts %}
    <script>
        var pageData = {{ faqs|raw }},
                actions = {
                    edit: {
                        title: "{{ 'madlexx_fos_user.users.actions.edit'|trans }}",
                        tooltip: "{{ 'madlexx_target.faq.actions.edit'|trans }}",
                    },
                    delete: {
                        title: "{{ 'madlexx_fos_user.users.actions.remove'|trans }}",
                        tooltip: "{{ 'madlexx_target.faq.actions.remove'|trans }}"
                    },
                },
                URL = {
                    edit: ("{{ path("madlexx_target.faq.edit", {'id': 0}) }}").slice(0, -1),
                    delete: ("{{ path("madlexx_target.faqs.delete", {'id': 0}) }}").slice(0, -1)
                },
                messages = {
                    error: "{{ 'madlexx_target.faq.labels.error'|trans }}",
                    success: "{{ 'madlexx_target.faq.labels.success'|trans }}",
                    last_faq: "{{ 'madlexx_target.faq.last_faq'|trans }}"
                };
    </script>
    <script src="{{ asset("bundles/madlexxtarget/scripts/faqs.js") }}"></script>
{% endblock %}
