{% extends "MadlexxTargetBundle::dashboard.html.twig" %}
{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{% block body %}
    {{ parent() }}
    {% set data %}
        {% if about is not empty %}
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ about.title }}</h2>
                    {{ about.content|raw }}
                </div>
            </div>
            <div class="clearfix"></div>
            <br/>
            <br/>
        {% endif %}
        {% if faqs is not empty %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for faq in faqs %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                    <h4 class="panel-title">
                        <a role="button"
                           data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}"
                           aria-expanded="{{ loop.first ? 'true' : 'false' }}" aria-controls="collapse{{ loop.index }}">
                            {{ faq.question }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ loop.index }}"
                     class="panel-collapse collapse {{ loop.first ? 'in' : '' }}"
                     role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                    <div class="panel-body">
                        {{ faq.answer|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}
            <div class="text-center"><h1>{{ 'madlexx_target.faq.messages.empty'|trans }}</h1></div>
        {% endif %}
    {% endset %}
    {% set main = Content.section(data) %}
    {{ Content.main_wrap(main) }}
{% endblock body %}
