{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{{ form_start(form, {'action' : path('madlexx_target.users.form_create'), 'attr': {'id' : 'madlexx_event'}} ) }}
<div class="col-md-12">
    {{ Content.input(form.title) }}
    <div class="input-group">
        {{ form_widget(form.date) }}
    </div>
    {{ Content.textarea(form.content) }}
    <div class="pull-right">
        {{ form_row(form.submit) }}
    </div>
</div>
{{ form_end(form) }}
