{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{{ form_start(form, {'action' : path('madlexx_target.users.update', {'id': id}), 'attr': {'id' : 'madlexx_user_update'}} ) }}
    <div class="col-md-12">
        {{ Content.input_icon(form.username, 'contacts') }}
        {{ Content.input_icon(form.email, 'contact_mail') }}
        {{ Content.input_icon(form.phone, 'contact_phone') }}
        {% if is_granted('ROLE_ADMIN') and  form.organization is defined %}
            {{ Content.select2(form.roles, 'assessment') }}
            {{ Content.select2(form.organization, 'domain') }}
        {% endif %}
        <div class="pull-right">
            {{ form_row(form.submit) }}
        </div>
    </div>
{{ form_end(form) }}
