{% set bodyClass = bodyClass ?? '' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/madlexxtarget/vendor/vendor.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/madlexxtarget/css/main.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/madlexxtarget/css/custom.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/madlexxtarget/css/perfect-scrollbar.min.css') }}" rel="stylesheet">

        <!--     Fonts and icons     -->
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel='stylesheet' href="//fonts.googleapis.com/css?family=Lato:400,700,300" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Karla:400,700">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
        <link href="//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="{{ bodyClass }}">
{% block body %}{% endblock %}

{{ include("MadlexxTargetBundle:parts:js-components.html.twig") }}

<script src="{{ asset('bundles/madlexxtarget/scripts/main.js') }}"></script>
<script>
    {% for type, message in app.session.flashbag.all() %}
        Methods.show{{ type|capitalize }}Message("{{ type|capitalize }}", "{{ message|first }}");
    {% endfor %}
    $(function () {
        $.material.init();
    })
</script>
{% block javascripts %}

{% endblock %}
</body>
</html>
