{% extends 'MadlexxTargetBundle::base.html.twig' %}

{% block body %}
    {{ include('MadlexxTargetBundle:parts/navigation:_navigation.html.twig') }}
    <div class="welcome">
        <h2>
            {{ 'madlexx_target.faq.messages.welcome'|trans({'%name%': app.user.username|capitalize}) }}
        </h2>
        <img src="{{ asset('bundles/madlexxtarget/img/welcome.png') }}">
    </div>
{% endblock body %}

{% block stylesheets%}
    {{ parent() }}
    <link  rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"/>
{% endblock %}

{% block javascripts %}
    <script>
        var chatUrl = {
            get : "{{ path('madlexx_target.chat.get') }}",
            create: "{{ path('madlexx_target.chat_message.create') }}",
            clear: "{{ path('madlexx_target.chat_message.clear_count') }}",
            getAll: "{{ path('madlexx_target.chat.get_all') }}",
            getById: "{{ path('madlexx_target.chat.get_by_id') }}",
            upload: "{{ path('madlexx_target.chat_message.upload') }}"
        };
    </script>
{% endblock javascripts %}