{% macro main_wrap(data, class = false )%}
    <div class="wrapper">
        <div class="main {{  class ?? '' }}">
            {{ data }}
        </div>
    </div>
{% endmacro %}

{% macro section(data) %}
   <section class="section">
       <div class="container">
           <div class="row">
               {{ data }}
           </div>
       </div>
   </section>
{% endmacro %}

{% macro input_icon(field, icon ) %}
        <div class="input-group">
		       <span class="input-group-addon">
			            <i class="material-icons">{{ icon ?? '' }}</i>
		        </span>
            {{ form_widget(field,  { 'attr': {'class': 'form-control'} }) }}
        </div>
{% endmacro input_icon %}

{% macro input(field) %}
        <div class="form-group">
            {{ form_widget(field,  { 'attr': {'class': 'form-control'} }) }}
        </div>
{% endmacro input%}

{% macro number(field) %}
    <div class="form-group">
        {{ form_widget(field,  { 'attr': {'class': 'form-control'}, 'type': 'number' }) }}
    </div>
{% endmacro number%}

{% macro textarea(field) %}
                {{ form_label(field) }}
                {{ form_widget(field,  { 'attr': {'class': 'form-control', 'rows' : 6} }) }}
{% endmacro textarea %}

{% macro select2(field, icon) %}
    <div class="input-group select2-group">
        {% if icon is not empty %}
            <span class="input-group-addon">
			            <i class="material-icons">{{ icon ?? '' }}</i>
		    </span>
        {% endif %}
        {{ form_widget(field) }}
    </div>
{% endmacro %}

{% macro search_result(entities) %}
    {% for entity in entities %}
        <dd class="col-md-12 ">
            <a href="/{{ entity.file.webPath }}" target="_blank">
                <i class="pdf-icon"></i>
                <p>{{entity.name}}</p>
                <p> {{ 'madlexx_target.js_labels.added'|trans }}: <time>{{entity.createdAt|date('m-d-y')}}</time></p>
            </a>
        </dd>
    {% endfor %}
{% endmacro %}