<div class="alert alert-info">
    <div class="container-fluid">
        <div class="alert-icon">
            <i class="material-icons">error_outline</i>
        </div>
        {{ message }}
    </div>
</div>
<a href="{{ path('fos_user_security_login') }}" class="pull-right btn btn-raised btn-primary">{{ 'madlexx_fos_user.actions.back_to.login'|trans() }}</a>
