{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {{ include('MadlexxFOSUserBundle:Resetting:_alert_info.html.twig', {'message': 'resetting.check_email'|trans({'%email%': email})}) }}
{% endblock %}
