{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="col-sm-12">
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <div class="input-group">
		        <span class="input-group-addon">
		        	<i class="material-icons">perm_identity</i>
		        </span>
            <input type="text" id="username" name="username"
                   placeholder="{{ 'resetting.request.username'|trans }}" class="form-control"/>
        </div>
    </div>
    <div class="col-sm-12">
        <input class="pull-right btn btn-raised btn-primary" type="submit" id="_submit" name="submit" value="{{ 'resetting.request.submit'|trans }}"/>
    </div>
</form>
