{% extends "MadlexxFOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    <div class="col-sm-12">
            {{ form_widget(form.plainPassword) }}
    </div>
    <div class="col-sm-12">
        <input  class="pull-right btn btn-raised btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}

{% block javascripts %}
    <script>
        $('input').addClass('form-control');
    </script>
{% endblock %}