{% extends 'MadlexxTargetBundle::base.html.twig' %}
{% set bodyClass = 'login' %}
{% import 'MadlexxTargetBundle::macros.html.twig' as Content %}

{% block body %}
    {% set data %}
        <div class="section">
            <div class="row">
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.peekAll() %}
                        {% if type != 'organizationWasSuspended' %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="col-sm-12">
                    <img src="{{ asset('bundles/madlexxtarget/img/logo.png') }}" class="logo" alt="{{ 'madlexx_fos_user.logo'|trans({}, 'messages') }}">
                </div>
                <div class="clearfix"></div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    {% endset %}
    {{ Content.main_wrap(data, 'main-raised') }}
{% endblock body %}
